.nav-title {
  position: relative;
}

.nav-title::before {
  content: "";
  background: url("../../assets/Navhat.png") no-repeat;
  display: block;
  position: absolute;
  bottom: 8px;
  left: -9px;
  width: 23px;
  height: 23px;
}
