@font-face {
  font-family: "IranSans";
  src: url(./assets/fonts/IRANSansXRegular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "IranSans";
  src: url(./assets/fonts/IRANSansXBlack.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "IranSans";
  src: url(./assets/fonts/IRANSansXBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "IranSans";
  src: url(./assets/fonts/IRANSansXDemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "IranSans";
  src: url(./assets/fonts/IRANSansXExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "IranSans";
  src: url(./assets/fonts/IRANSansXLight.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "IranSans";
  src: url(./assets/fonts/IRANSansXMedium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "IranSans";
  src: url(./assets/fonts/IRANSansXThin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "IranSans";
  src: url(./assets/fonts/IRANSansXUltraLight.ttf);
  font-weight: 200;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.4em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #fcc822;
  border-radius: 0.4rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #9db2bf;
  border-radius: 0.4rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

.light {
  background-color: #fff;
}

.dark {
  background-color: #232d3f;
}

.Toastify__toast-container {
  min-width: fit-content;
  padding: 0 10px;
}
